.form {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 400px;
    justify-content: center;
    align-self: center;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}





